 <div class="page-content-wrapper ">
    <!-- START PAGE CONTENT -->
	<div class="content ">




      <!-- START CONTAINER FLUID -->
      <div class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
      <input #mioInput (blur)="settaValore(mioInput.value)" (keyup.enter)="settaValore(mioInput.value)">
      <select #miaDir (change)='scegliCartella(miaDir.value)'>
          <option value="" disabled>Scegli directory</option>
          <option *ngFor="let cartella of cartelle" value="{{cartella}}">{{cartella}}</option>
      </select>



      <button class="btn btn-primary" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>record</button>
		  <button class="btn btn-primary" id = "stop" (click)="stop(this);" [ngClass]='{disabled: isOff}'>stop</button>
      <button class="btn btn-primary" id = "upload" (click)="uploadBucket();" [ngClass]='{disabled: isOff}'>upload</button>

		  <h2>Recordings</h2>
		  <ul id="recordingslist"></ul>

		  <h2>Log</h2>
		  <pre id="log"></pre>
		 </div>
  <!-- END PANEL -->
</div>

</div>
<!-- END PAGE CONTENT -->

<!-- START FOOTER -->

<!-- END FOOTER -->

</div>
<!-- END PAGE CONTEN-->
