 <h1> Restart Again</h1>
  <div class="page-content-wrapper ">
    <!-- START PAGE CONTENT -->
	<div class="content ">
      <button class="btn btn-primary" id = "stop" (click)="enableMic();" [ngClass]='{disabled: isOff}'>EnableMic</button>

      <!-- START CONTAINER FLUID -->
      <div class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
      <button class="btn btn-primary" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>record</button>
		  <button class="btn btn-primary" id = "stop" (click)="stop(this);" [ngClass]='{disabled: isOff}'>stop</button>
      <button class="btn btn-primary" id = "stop" (click)="upload();" [ngClass]='{disabled: isOff}'>Upload</button>
		  <h2>Recordings</h2>
		  <ul id="recordingslist"></ul>

		  <h2>Log</h2>
		  <pre id="log"></pre>
		 </div>
  <!-- END PANEL -->
</div>

</div>
<!-- END PAGE CONTENT -->

<!-- START FOOTER -->

<!-- END FOOTER -->

</div>
<!-- END PAGE CONTENT WRAPPER -->
