




<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cerca">  
        </mat-form-field>
        
    </div>
    
    
    <div fxFlex>
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>FILE</th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="posizione">
                <th mat-header-cell *matHeaderCellDef> URL </th>
                <td mat-cell *matCellDef="let element"> {{element.url}} </td>
            </ng-container>
            <ng-container matColumnDef="audio">
                <th mat-header-cell *matHeaderCellDef>       AUDIO </th>
                <td  mat-cell *matCellDef="let element">
                    <audio controls="controls">
                        Il tuo browser non supporta l'elemento <code>audio</code>.
                        <source src="{{element.audioData}}" type="audio/wav">
                    </audio>
                </td>
            </ng-container>
            <ng-container matColumnDef="azione">
                <th mat-header-cell *matHeaderCellDef> ANALIZZA </th>
                <td mat-cell *matCellDef="let element">
                 <button mat-icon-button aria-label="Prova" (click)="myClickFunction(element.url,element.nome)">
                    <mat-icon color='primary'>autorenew</mat-icon>
                </button>


                 </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex >
        <mat-card>
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h5 class="m-0">Analsi Vocale : {{FileSelected}}</h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style='height:100%'>
              <vocal-analyze-component></vocal-analyze-component>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex >
        <mat-card>
            <div [hidden]="textSpinner">
            <mat-progress-spinner class='spinner-container' 
                [mode]="'indeterminate'"
                [color]="primary"
                [value]="50"
                [diameter]="20">
            </mat-progress-spinner>
           </div>
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h5 class="m-0">Analisi Testuale:{{FileSelected}}</h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style='height:100%'>
              <text-analyze-component></text-analyze-component>
            </mat-card-content>
        </mat-card>
    </div>
</div>


