
<h4 mat-dialog-title style="text-align:center;color:red;font-weight:bold">Attenzione!</h4>
<div mat-dialog-content>


  <p>Confermi di voler cancellare il file :</p><p style="color:red;font-size:bold"> {{data}}</p>
 </div>
<div mat-dialog-actions style='justify-content:left'>
 <button mat-mini-fab color="primary" [mat-dialog-close]="data" cdkFocusInitial>
  <mat-icon>check_circle</mat-icon>
 </button>
 &nbsp;
  <button mat-mini-fab color="warn" (click)="onNoClick()">
  <mat-icon>highlight_off</mat-icon>
  </button>
</div>
