  <div fxlayout="column">
    <div fxFlex="50">
      &nbsp;
      <button mat-mini-fab color="warn" id = "record" (click)="start(this);" [disabled]="isRecStartDisabled" >
        <mat-icon>record_voice_over</mat-icon>
      </button>
		  &nbsp;
      <button mat-mini-fab color="warn" id = "stop" (click)="stop(this);" [disabled]=" isStopRecDisabled">
        <mat-icon>stop</mat-icon>
      </button>
      &nbsp;
      <h4>{{nomeFile}}</h4>
    </div>
    <br>
<div [hidden]="isResultHidden" >
 <div  style="display:flex;align-items:center">
  <audio id="audio" controls="controls">
      Il tuo browser non supporta l'elemento <code>audio</code>.
      <source src="{{fileTmpUrl}}" type="audio/wav">
    </audio>
    &nbsp;
    <button mat-mini-fab color="primary" id = "upload" (click)="upload();" >
      <mat-icon>cloud_upload</mat-icon>
    </button>
    &nbsp;
     <button mat-mini-fab color="primary" id = "del" (click)="deleteRegistration();" >
      <mat-icon>delete</mat-icon>
    </button>
 </div>
  </div>
  </div>
