

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="1px" class="aParent">
  <div id="container" fxFlex>
    <timer></timer>
   <div class="ciccio">
    &nbsp;
    <button mat-mini-fab color="warn" id = "record" (click)="start(this);"  >
      <mat-icon>record_voice_over</mat-icon>
    </button>
		&nbsp;
    <button mat-mini-fab color="warn" id = "stop" (click)="stop(this);">
      <mat-icon>stop</mat-icon>
    </button>
    &nbsp;
  </div>
  </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="1px" class="aParent">
  <div id="container" fxFlex >
  <audio controls="controls">
      Il tuo browser non supporta l'elemento <code>audio</code>.
      <source src="http://emomaiolix.appspot.com/emotions/repository?file=cliente1.wav" type="audio/wav">
    </audio>
    &nbsp;
    <button mat-fab color="primary" id = "stop" (click)="upload();" >
      <mat-icon>cloud_upload</mat-icon>
    </button>
    &nbsp;
     <button mat-fab color="primary" id = "stop" (click)="upload();" >
      <mat-icon>delete</mat-icon>
    </button>
  </div>



</div>
