
  <div class="page-content-wrapper ">
 	<div class="content ">
      <button class="btn btn-primary" id = "stop" (click)="enableMic();" [ngClass]='{disabled: isOff}'>EnableMic</button>
      <p>{{nomeFile}}</p>
      <p>{{directory}}</p>
      <!-- START CONTAINER FLUID -->
      <div class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
      <button mat-fab color="warn" id = "record" (click)="start(this);" [disabled]="true" [ngClass]='{disabled: isOn}'>
       <mat-icon>record_voice_over</mat-icon>
      </button>
		  &nbsp;
      <button mat-fab color="disable" id = "stop" (click)="stop(this);" [ngClass]='{disabled: isOff}'>
       <mat-icon>stop</mat-icon>

      </button>
      &nbsp;
      <button mat-fab color="disable" id = "stop" (click)="upload();" [ngClass]='{disabled: isOff}'>
       <mat-icon>cloud_upload</mat-icon>

      </button>
      <timer></timer>
		 </div>
  <!-- END PANEL -->
</div>

</div>
<!-- END PAGE CONTENT -->

<!-- START FOOTER -->

<!-- END FOOTER -->

</div>
<!-- END PAGE CONTENT WRAPPER -->
