<p>
  screen1 works!
</p>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex >
        <mat-card>
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h5 class="m-0">Elenco File</h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style='height:200px'>
              <audio-table></audio-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex >
        <mat-card>
            <mat-card-content style='height:100%'>
           <new-audio></new-audio>
            </mat-card-content>
        </mat-card>
    </div>
</div>



