<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex >
    &nbsp;
    <button mat-fab color="primary"  (click)="startRecording(fileInput.value,dirInput.value,EmoInput.value,SexInput.value)" [disabled]="isDisableMic">
      <mat-icon>mic</mat-icon>
     </button>
      &nbsp;
     <button mat-fab color="primary" [disabled]="isDisableUpload"  (click)="mioClick(fileInput.value,dirInput.value)">
      <mat-icon>folder_open</mat-icon>
     </button>
      &nbsp;
     <button mat-fab color="primary" [disabled]="isDisableReset" (click)="reset()">
      <mat-icon>restore</mat-icon>
     </button>
  </div>
</div>


